@import '../../style/_variable.scss';

.container {
    display: flex;
    flex-direction: column;
    background-color: $green;
    border-radius: 16px;
    padding: 8px;
    margin-bottom: 24px;
}

.addMoreContainer {
    border: dashed $pink 4px;
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    justify-content: center;
    align-items: center;
    padding: 4px;
    cursor: pointer;
}

.allowMulti {
    display: flex;
    flex-direction: row;
    column-gap: 4px;
}

.question {
    position: relative;
    color: $text-color;
}

.removeBtn {
    display: flex;
    cursor: pointer;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 16px;
}

.submit {
    margin-top: 8px;
}

.overlay {
    border-radius: 16px;
}

.devider {
    width: calc(100% - 16px);
    border-top: 1px solid $text-color;
}