@import '../../style/variable.scss';

.header {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  color: rgb(44, 45, 27);
  background-color: rgba(91, 93, 54, 0.3);
  backdrop-filter: blur(5px);
  box-shadow: 0px 10px 150px 24px rgba(91, 93, 54, 0.75);
  z-index: 999;
  font-weight: 900;
  font-size: 26px;
}