$pink: #EB627E;
$white: #FFF;
$orange: #EF7C37;
$yellow: #F3CC00;

$admin_background: #fafafa;
$admin_white: #f4f6f8;

//
$baseFontSize: 16px;

// sizes
$breakpoint-desktop-xl: 1920px;
$breakpoint-desktop-large: 1440px;
$breakpoint-desktop-large-little: 1350px;
$breakpoint-desktop: 1200px;
$breakpoint-laptop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-phone: 480px;
$breakpoint-phone-small: 375px;
$breakpoint-phone-xs: 320px;