$green: #D8E2DC;
$skin: #FFE5D9;
$light-pink: #FFCAD4;
$pink: #F4ACB7;
$text-color: #9D8189;

$admin_background: #fafafa;
$admin_white: #f4f6f8;

//
$baseFontSize: 16px;

// sizes
$breakpoint-desktop-xl: 1920px;
$breakpoint-desktop-large: 1440px;
$breakpoint-desktop-large-little: 1350px;
$breakpoint-desktop: 1200px;
$breakpoint-laptop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-phone: 480px;
$breakpoint-phone-small: 375px;
$breakpoint-phone-xs: 320px;